.home{
  align-items: center;
  background-image: url('/assets/images/ellipse.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  max-height: 100vh;
  padding: 2rem 2rem 0 2rem;
  position: relative;
  text-align: center;
  .logo{
    color: $secondary;
  }
  > section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding-top: 15%;
    @media (min-width: 600px) {
      padding-top: 5%;
    }
    &::before {
      content: "";
      background-image: url("/assets/images/home-gradient.svg");
      background-position: bottom;
      background-size: cover;
      bottom: 0;
      height: 50%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
      @media (min-width: 600px) {
        background-size: contain;
        height: 35%;
      }
    }
    .play__btn{
      position: absolute;
      bottom: 5rem;
      z-index: 5;
      .play__link{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;
        padding: 2rem 0;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
        color: $primary;
      }
    }
    .home__img{
      border-radius: 10px;
      filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
      margin: 1rem 4rem;
      z-index: 1;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
img {
  max-width: 100%;
}