// COLORS
$primary : #070F2B;
$secondary : #FFFFFF;

$blue : #1794DB;
$purple : #43229D;
$green : #29994F;
$red : #9C2424;

// FONTS

$font : "Cherry Bomb", arial, sans-serif;


// SHADOWS

$round-shadow : -1px 3px 0px #C3C3C3;
$btn-shadow : -1px 5px 0px #C4C4C4;;
$text-shadow: -3px 0px 0px #838383, -6px -2px 0px #5E6D89;
