// COLORS
$primary : #070F2B;
$secondary : #FFFFFF;

$blue : #1794DB;
$purple : #43229D;
$green : #29994F;
$red : #9C2424;
$body-background: #0B132F;

$gradient: linear-gradient(90deg, rgba(114,94,236,1) 0%, rgba(15,22,88,1) 100%);
$gradient-light: linear-gradient(90deg, rgba(114,94,236,.2) 0%, rgba(15,22,88,.2) 100%);

// FONTS

@font-face {
  font-display: swap;
  font-family: "Cherry Bomb";
  src: url(/assets/fonts/cherrybombone-regular.ttf);
}
$font : "Cherry Bomb";


// SHADOWS

$round-shadow : -1px 3px 0px #C3C3C3;
$btn-shadow : -1px 5px 0px #C4C4C4;;
$text-shadow: -3px 0px 0px #838383, -6px -2px 0px #5E6D89;
