.character {
    .character-sprite {
        position: relative;
        height: 200px;
        width: 140px;
        &#character-evil-death,
        &#character-evil-sprite,
        &#character-good-sprite,
        &#character-good-victory {
            display: none;
        }
        svg{
            left: 0;
            overflow: visible;
            top: 0;
            clipPath {
                display: none;
            }
        }
    }
    &.character__evil {
        svg {
            width: 120% !important;
        }
    }
}