.disabled {
    filter: grayscale(1);
    opacity: .7;
    pointer-events: none;
}

.screen {
    color: white;
    display: none;
    min-height: 100vh;
    position: relative;
    width: 100%;
    &:not(&__game) {
        background-image: $gradient-light;
    }
    &.is-visible {
        display: flex;
        flex-direction: column;
    }
    &__text {
        align-items: center;
        justify-content: center;
        padding: 57px;
        div {
            text-align: center;
            p + p {
                margin-top: 40px;
            }
            a {
                display: block;
            }
        }
    }
    &__dialog {
        align-items: flex-end;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-end;
        padding: 28px;
        &:first-child {
            background-image: url("/assets/images/dialog-1.svg");
        }
        &:last-child {
            background-image: url("/assets/images/dialog-2.svg");
        }
        span {
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
    &__game {
        justify-content: flex-end;
        padding: 40px;
        .characters {
            display: flex;
            justify-content: space-between;
            .character {
                align-items: center;
                display: flex;
                flex-direction: column-reverse;
                width: fit-content;

                .character-sprite#character-good-sprite{
                  position: relative;
                  svg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: fill;
                  }
                }
                .character-lifebar {
                    margin-bottom: 20px;
                    width: 100%;
                    .lifebar-gauge {
                        align-items: center;
                        background: white;
                        border-radius: 20px;
                        display: flex;
                        height: 14px;
                        padding: 0 2px;
                        div {
                            background-image: $gradient;
                            border-radius: 5px;
                            height: 9px;
                        }
                    }
                }
            }
        }
    }
    a {
        background: white;
        border-radius: 20px;
        color: $primary;
        display: inline-flex;
        font-size: 18px;
        margin-top: 60px;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
    }
}
.tutorial,
.modal {
    background-color: transparentize($color: beige, $amount: .2);
    color: $primary;
    left: 50%;
    opacity: 0;
    padding: 40px;
    position: absolute;
    top: 10%;
    transform: translate(-50%, -2%) scale(.9);
    width: 90%;
    transition: transform .5s ease, opacity .4s ease;
    &.is-visible {
        opacity: 1;
        transform: translate(-50%, 0%) scale(1);
        transition-delay: .2s;
    }
}
