.disabled {
    opacity: .7;
    pointer-events: none;
}

.screen {
    color: white;
    display: none;
    min-height: 100vh;
    position: relative;
    width: 100%;
    &.is-visible {
        display: flex;
        flex-direction: column;
    }
    &__text {
        align-items: center;
        justify-content: center;
        padding: 57px;
        div {
            text-align: center;
            p + p {
                margin-top: 40px;
            }
            a {
                display: block;
                margin-top: 60px;
            }
        }
    }
    &__dialog {
        align-items: flex-end;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-end;
        padding: 28px;
        &:first-child {
            background-image: url("/assets/images/dialog-1.svg");
        }
        &:last-child {
            background-image: url("/assets/images/dialog-2.svg");
        }
        span {
            font-weight: bold;
            margin-bottom: 20px;
            
        }
    }
    .characters {
        .character {
            .lifebar-gauge {
                background: red;
                div {
                    background: blue;
                }
            }
        }
    }

}
.tutorial,
.modal {
    background-color: beige;
    left: 50%;
    opacity: 0;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    &.is-visible {
        opacity: 1;
    }
}