*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-display: swap;
  font-family: "Cherry Bomb";
  font-weight: normal;
  src: url(/assets/assets/fonts/cherrybombone-regular.ttf);
}
@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon/icomoon.eot");
  src: url("/assets/fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("/assets/fonts/icomoon/icomoon.ttf") format("truetype"), url("/assets/fonts/icomoon/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-size: 16px;
}

body {
  font-family: "Cherry Bomb";
  background-color: #0B132F;
}

.logo {
  text-transform: uppercase;
  font-size: 3.5rem;
  text-shadow: -3px 0px 0px #838383, -6px -2px 0px #5E6D89;
}
.logo .logo__first-syllabe {
  opacity: 0.8;
}
.logo .logo__big-letter {
  font-size: 4rem;
}

.btns-popup {
  text-align: center;
}
.btns-popup::before {
  align-items: center;
  background-color: white;
  border-radius: 100%;
  box-shadow: -1px 3px 0px #C3C3C3;
  color: #070F2B;
  content: "";
  display: flex;
  flex-direction: column;
  font-family: "icomoon" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  justify-content: center;
  line-height: 1;
  speak: never;
  text-transform: none;
  transition: box-shadow 0.3s ease;
  height: 44px;
  width: 44px;
}
.btns-popup:hover::before {
  box-shadow: 0px 0px 0px #C3C3C3;
}

.btn__menu::before {
  content: "\e900";
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (min-width: 600px) {
  .controls {
    justify-content: center;
    gap: 40px;
  }
}
.controls .control {
  align-items: center;
  background-color: white;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: -1px 3px 0px #C3C3C3;
  color: #070F2B;
  cursor: pointer;
  display: flex;
  height: 70px;
  justify-content: center;
  margin-top: 44px;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 0.3s ease;
  width: 70px;
}
.controls .control:hover {
  box-shadow: 0px 0px 0px #C3C3C3;
}
.controls .control:not(.disabled) {
  filter: grayscale(0);
}
.controls .control__attack {
  background-image: url("/assets/images/icons/control-attack.svg");
}
.controls .control__defence {
  background-image: url("/assets/images/icons/control-defence.svg");
}
.controls .control__ultimate {
  background-image: url("/assets/images/icons/control-ultimate.svg");
}
.controls span:first-of-type {
  display: none;
}
.controls .counter {
  align-items: center;
  background: #599C47;
  border: 3px solid white;
  border-radius: 100%;
  bottom: 0;
  color: white;
  display: flex;
  font-size: 15px;
  height: 35px;
  justify-content: center;
  position: absolute;
  right: 0;
  transform: translate(5px, 5px);
  width: 35px;
}
.controls .control-inner {
  height: 120px;
  width: 120px;
  transform: rotate(-86deg);
}
.controls .control-inner * {
  display: block;
}
.controls .control-inner svg {
  position: relative;
  height: 150px;
  width: 150px;
}
.controls .control-inner svg circle {
  fill: transparent;
  height: 100%;
  stroke: #D74B4B;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - 440 * var(--num) / 100);
  stroke-width: 10px;
  transform: translate(13%, 13%);
  transition: stroke-dashoffset 1.5s ease-in-out;
  width: 100%;
}

header {
  z-index: 20;
  position: fixed;
  top: 20px;
  left: 20px;
}
header span {
  color: white;
}

.disabled {
  border-radius: 100%;
  filter: grayscale(1);
  opacity: 0.7;
  pointer-events: none;
}

main section {
  height: 100vh;
  width: 100%;
}

.screen {
  color: white;
  display: none;
  min-height: 100vh;
  position: relative;
  width: 100%;
}
.screen:not(.screen__game) {
  background-image: linear-gradient(90deg, rgba(114, 94, 236, 0.2) 0%, rgba(15, 22, 88, 0.2) 100%);
}
.screen.is-visible {
  display: flex;
  flex-direction: column;
}
@media (min-width: 920px) {
  .screen > div {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
}
.screen__text {
  align-items: center;
  justify-content: center;
  padding: 57px;
}
.screen__text div {
  text-align: center;
}
.screen__text div p + p {
  margin-top: 40px;
}
.screen__text div a {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.screen__dialog {
  align-items: flex-end;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  padding: 28px;
}
.screen__dialog:first-child {
  background-image: url("/assets/images/dialog-1.svg");
}
.screen__dialog:last-child {
  background-image: url("/assets/images/dialog-2.svg");
}
.screen__dialog span {
  font-weight: bold;
  margin-bottom: 20px;
}
.screen__game {
  justify-content: flex-end;
  padding: 40px;
}
.screen__game .characters {
  display: flex;
  justify-content: space-between;
}
.screen__game .characters .character {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  width: fit-content;
}
.screen__game .characters .character .character-sprite#character-good-sprite {
  position: relative;
}
.screen__game .characters .character .character-sprite#character-good-sprite svg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill;
}
.screen__game .characters .character .character-lifebar {
  margin-bottom: 20px;
  width: 100%;
}
.screen__game .characters .character .character-lifebar .lifebar-gauge {
  align-items: center;
  background: white;
  border-radius: 20px;
  display: flex;
  height: 14px;
  padding: 0 2px;
}
.screen__game .characters .character .character-lifebar .lifebar-gauge div {
  background-image: linear-gradient(90deg, rgb(114, 94, 236) 0%, rgb(15, 22, 88) 100%);
  border-radius: 5px;
  height: 9px;
}
.screen a {
  background: white;
  border-radius: 20px;
  box-shadow: -1px 5px 0px #C4C4C4;
  color: #070F2B;
  display: table;
  font-size: 18px;
  margin: 60px auto 0;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 0.3s ease;
}
.screen a:hover {
  box-shadow: 0px 0px 0px #838383, 0px 0px 0px #5E6D89;
}

.tutorial,
.modal {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  color: #070F2B;
  left: 50%;
  opacity: 0;
  max-width: 600px;
  padding: 20px;
  position: absolute;
  top: 10%;
  transform: translate(-50%, -2%) scale(0.9);
  width: 90%;
  transition: transform 0.5s ease, opacity 0.4s ease;
}
@media (min-width: 920px) {
  .tutorial,
.modal {
    padding: 40px;
  }
}
.tutorial__attack p strong,
.modal__attack p strong {
  color: #6D9EBF;
}
.tutorial__ultimate p strong,
.modal__ultimate p strong {
  color: #B72D2D;
}
.tutorial__defence p strong,
.modal__defence p strong {
  color: #599C47;
}
.tutorial p,
.modal p {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.tutorial p strong,
.modal p strong {
  display: block;
  font-size: 28px;
  margin-top: 20px;
}
@media (min-width: 920px) {
  .tutorial p strong,
.modal p strong {
    margin-top: 15px;
  }
}
.tutorial p + p,
.modal p + p {
  font-size: 14px;
  margin-top: 20px;
}
@media (min-width: 920px) {
  .tutorial p + p,
.modal p + p {
    margin-top: 10px;
  }
}
.tutorial.is-visible,
.modal.is-visible {
  opacity: 1;
  transform: translate(-50%, 0%) scale(1);
  transition-delay: 0.2s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}
.nav .nav__btn span {
  color: #fff;
}

.home {
  align-items: center;
  background-image: url("/assets/images/ellipse.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding: 2rem 2rem 0 2rem;
  position: relative;
  text-align: center;
}
.home .logo {
  color: #FFFFFF;
}
.home > section {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding-top: 15%;
}
@media (min-width: 600px) {
  .home > section {
    padding-top: 5%;
  }
}
.home > section::before {
  content: "";
  background-image: url("/assets/images/home-gradient.svg");
  background-position: bottom;
  background-size: cover;
  bottom: 0;
  height: 50%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
@media (min-width: 600px) {
  .home > section::before {
    background-size: contain;
    height: 35%;
  }
}
.home > section .play__btn {
  position: absolute;
  bottom: 5rem;
  z-index: 5;
}
.home > section .play__btn .play__link {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #070F2B;
}
.home > section .home__img {
  border-radius: 10px;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  margin: 1rem 4rem;
  z-index: 1;
}
@media (max-width: 600px) {
  .home > section .home__img {
    width: 100%;
  }
}

.popup {
  z-index: 50;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  min-height: 70%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2rem;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}
.popup .popup__btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.popup--open {
  display: block;
}
.popup.large-popup {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: #0B132F;
  background-image: linear-gradient(90deg, rgba(114, 94, 236, 0.2) 0%, rgba(15, 22, 88, 0.2) 100%);
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
